@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
a{
    text-decoration: none;
}
 
header{
    width: 100vw;
    height: 8vh;
    align-content: center;
    position: fixed;
    z-index: 999;
    background-color: #000000c8;
}
.logo{
    padding: 0;
    margin: 0;
    width: 50px;
    margin: 10px 20px;

}
.navbar{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li{
    text-decoration: none;
    letter-spacing: .1em;
    padding:10px 2vw; 
    transition: .5s ease;

}

.navbar ul li:hover{
    border:solid crimson 1px;
    background-color: crimson;
}

.navbar ul li a{
    color:aliceblue;
    font-size :2em;
}
/*auto scroller*/
.slider{
    height:85vh;
    overflow: hidden;
    background-color: #0a0112;
    align-items: center;
    
}

.slides{
    display:flex;
    width: 500%;
    height:7vh;

}
.slides input{
    display: none;
    
}

.slide{
    width:20%;
    transition:2s;
}
.slide img{
    margin-top: 8vh;
    min-width:initial;
    width:100vw;
    height:70vh;
}

.manual-nav{
    position:absolute;
    width:100%;
    display: flex;
    margin-top: 73vh;
    justify-content: center;
}

.manual-btn{
    border:2px solid crimson;
    border-radius: 10px;
    padding:5px;
    transition: 1s;

}
.manual-btn:not(:last-child){
    margin-right: 3vw;
}
.manual-btn:hover{
    background-color: crimson;
    transition: .5s;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%
}
#r4:checked ~ .s1{
    margin-left: -60%;
}

.auto-nav{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80vh;
}
.auto-nav div{
    border: solid 2px crimson;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.auto-nav div:not(:last-child){
    margin-right:3vw;
}
#r1:checked ~ .auto-nav .auto-b1{
    background-color: crimson;
}
#r2:checked ~ .auto-nav .auto-b2{
    background-color: crimson;
}
#r3:checked ~ .auto-nav .auto-b3{
    background-color: crimson;
}
#r4:checked ~ .auto-nav .auto-b4{
    background-color: crimson;
}




.section-heading{
    font-size: 1.5em;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
}

.section-heading span{
    color: crimson;

}


.home2{
    min-height: 100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#home{
  background-image:url(./img/home-background.jpg) ;
  background-size:cover ;
  position:relative;
  z-index:1;
  letter-spacing: 0.5em;
  font-weight:bolder;
}

#home::after{
    content: "";
    border-radius: 0.3cm;
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width: 100%;
    opacity: .86;
    background-color: black;
    z-index: -1;
}


#home .home2{
    font-size: 5vw;
    color:transparent;
    animation:home-text 3s ease forwards;
}
#home .social{
  font-size: .5em;
  color:aliceblue;
  margin: 0 50px;
  bottom: 70px;
  position: absolute;
  padding:10px;
  right:30px;
  border:solid crimson 1px;
  text-transform: uppercase;
}

#home .social:hover{
    font-size: .5em;
    color:aliceblue;
    margin: 0 50px;
    bottom: 70px;
    position: absolute;
    padding:10px;
    border:solid crimson 1px;
    background-color: crimson;
    transition: .5s ease;
    cursor: pointer;
  }

.social-links{
    width: 180px;
    bottom: 10px;
    right:45px;
    position: absolute;
}


.perks-heading img{
    margin-right: 15px;
    min-width: 40px;
    max-height: 35px;
}
.perks-heading{
    font-size: 3em;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 1500px;
    margin:0 auto;
    padding-top:100px;
    color: crimson;
}
.perks-item-heading{
    text-align: center;
}
.icon{
    text-align: center;
}

.perks-item-group{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.perks-item{
   flex-basis: 70%;
   border-radius: 0.1cm;
   max-height: 400px;
   margin: 30px;
   margin-top: 20px;
   overflow: hidden;
}

.perks-item:hover{
    transform: scale(1.1);
    transition: 0.5s ease transform;
}

.perks-item-content{
    padding: 20px 20px 10px 20px;
    background-image: linear-gradient(#000000ed,#4c3629c1);
    height:260px;
}
.perks-item-bg{
   background-image: url(./img/diet.jpeg);
   background-size: cover;
   min-height:200px ;
   position: relative;
   z-index: 1;
}
.perks-item-bg:hover{
    transform: scale(1.1);
    transition: 0.5s ease transform;
}

.perks-item-bg::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width: 100%;
    opacity: 0.55;
    background-color: black;
    z-index: -1;
}


.perks-item .perks-item-heading{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: .2em;
    color: aliceblue;
}

.perks-item p{
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .01em;
    padding: 5px;
    word-spacing: .1em;
    line-height: 1.2;
    color:aliceblue
}

#about{
    align-items: center;
    width: 100%;
}
.about-heading{
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: center;
    text-transform: uppercase;
    max-width: 1500px;
    padding:60px 0;
    color: crimson;
}
.about-content{
    letter-spacing: .1em;
    font-weight: 350;
    line-height: 1.2;
    text-align: center;
}
.about-left{
    display: flex;
    flex-direction: column;
    margin:30px auto ;
    text-align: center;
}

.img-pepsu img{
    margin: 20px;
    width:80vw;
    border-radius: .5cm;
    overflow: hidden;
}

.img-pepsu img::after{
    border: solid 5px crimson;

}

.memory-content-text{
    padding: 1vw;
    font-size: .9em;
    letter-spacing: .1em;
    font-weight: 200;
}

.contact-item-container{
    width: 100%;
    height: 40%;
    margin: 0 auto;
}

.contact-item{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding:30px;
    margin:20px;
    box-shadow: 0 0 18px 0 #0000002c;
    border-radius: .2cm;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-item:hover{
    box-shadow: 0 0 5px 0 #0000002c;
    transition: .5s ease box-shadow;
}


.contact-item-logo img{
    width: 60px;
}

.contact-item-heading{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
}

.contact-item-info{
 font-size: .9rem;
 font-weight:300;
 line-height: 1.6;
}

footer{
    min-height: 20vh;
    justify-content: center;
    text-align: center;
}


footer{
    background-color: #110022;
    padding: 20px 30px;
    color:white;
    font-size: .7em;
}

footer .site-name,footer div{
    margin:2vh;
}

.boxing-container{
    width:100%;
    height:70vw;
}
.boxing{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.boxing p{
    margin:3vh 5vh;
    letter-spacing: .1em;
    line-height: 1.5;
    font-size: 2.3em;
}
.boxing img{
    width: 80vw;
    border-radius: .3cm;
    margin: 0 auto;
}
/*key frames*/
@keyframes home-text{
    100%{
        color:white;

    }

}


@media only screen and (min-width:600px){
    .perks-item{
        flex-basis: 45%;
        margin:2%;
        max-height: 400px;
        max-width: 300px;
    }    
    .perks-heading{
        margin-bottom: 40px;
        font-size: 4em;
    }
    .perks-heading img{
        max-height: 60px;
        
    }
    .about-left{
    flex-direction: column-reverse;
    }
    .img-pepsu{
        margin: 0 60px;
        width: 600px;
        
    }
    .img-pepsu img{
        flex-basis: 100%;
        flex-wrap: wrap;
        
    }
    .contact-item{
        flex-basis: 30%;
        margin:2%;
    }

    .contact-item-container{
        display:flex;
        flex-direction: row;

    }
    .boxing p{
        margin:3vh 5vh;
        letter-spacing: .1em;
        line-height: 1.5;
        font-size: 1em;
    }
    .boxing img{
        width: 45vw;
        border-radius: .3cm;
        margin: 0 auto;
    }

}





@media only screen and (min-width:1200px){
    
    .slide img{
        width:70vw;
        height:70vh;
        padding:5vh 15vh;
    }
    .logo{
        padding: 0;
        margin: 0;
        width: 35px;
        margin: 10px 20px; 
    }
   .navbar ul li a{
    color:aliceblue;
    font-size :.9em;
    }
    .perks-item{
        flex-basis: 20%;
        margin:2.5%;

    }    
    .perks-heading{
        margin-bottom: 40px;
        font-size: 4em;
    }
    .perks-heading img{
        max-height: 60px;
        
    }
    #about{
        text-align: center;
        align-items: center;
        }
    .about-left{
    flex-direction: row;
    }
    .about-content{
        max-width: 700px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin:0 auto;
  
    }

    .img-pepsu{
        margin: 0 60px;
        width: 600px;   
    }

    .img-pepsu img{
        flex-basis: 90%;
        flex-wrap: wrap;  
        flex-direction: row;
        width: 25vw;
    }

    .contact-item{
        flex-basis: 30%;
        margin:2%;
    }

    .contact-item-container{
        display:flex;
        flex-direction: row;

    }
    .memory-content-text{
        width:30vw;
        margin:0 50px;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }
    .boxing{
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 20vh;
    }
    .boxing p{
        margin:3vh 5vh;
        letter-spacing: .1em;
        line-height: 1.5;
        font-size: 1em;
    }
    .boxing img{
        width: 30vw;
        border-radius: .3cm;
        margin: 0 auto;
    }
  
}